<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Tracker Page | Mario and Luigi's</title>
</head>

<body>
    <script src="{{ url_for('static', filename='JS/script.js') }}" async></script>
    <header class="main-header">
        <nav class="main-nav nav">
            <ul>
                <li><a href={{ url_for('homepage') }}>Home page</a></li>
                <li><a href={{ url_for('store') }}>Menu</a></li>
                <li><a href={{ url_for('about') }}>About us</a></li>
            </ul>
        </nav>
        <h1 class="Restaurant-name Restaurant-name-large">Mario and Luigi's</h1>
    </header>


    <section class="container content-section">
        
        <div class="pay-box">
            <h2 class="section-header">Your delicious pizza will be ready in:</h2>
            <span id="countdown" class="cart-total-price cart-header cart-column"></span>
            <!-- here should stay the given minutes from the oven -->
            
        </div>
                
    <section class="container content-section">
        <a href={{ url_for('homepage') }} class="btn btn-primary btn-purchase" type="button">Close</a>
    </section>

    <footer>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href={{ url_for('homepage') }}>Home page</a></li>
                    <li><a href={{ url_for('store') }}>Menu</a></li>
                    <li><a href={{ url_for('about') }}>About us</a></li>
                </ul>
            </nav>
            <h1 class="Restaurant-name Restaurant-name-large">Mario and Luigi's</h1>
            
        </header>
    </footer>
</body>
</html>